* Um weiterzuentwickeln benötige ich Xcode 16.4
* dazu brauche ich macOS Ventura 13.5 (momentan habe ich Monterey 12.7.4)
* um mit meinem iPhone XR IOS 18.5 eine App auf dem Handy zu erstellen
* deshalb stoppe ich die Entwicklung für iOS und setze diese später fort
* Desktop version funktioniert ohne Probleme

* To continue development, I need Xcode 16.4
* For this, I need macOS Ventura 13.5 (I currently have Monterey 12.7.4)
* To create an app on my iPhone XR with iOS 18.5
* Therefore, I'm stopping development for iOS and will continue later
* The desktop version works without any problems