* Um weiterzuentwickeln benötige ich Xcode 16.4
* dazu brauche ich macOS Ventura 13.5 (momentan habe ich Monterey 12.7.4)
* um mit meinem iPhone XR IOS 18.5 eine App auf dem Handy zu erstellen
* Desktop version funktioniert ohne Probleme

* To continue development, I need Xcode 16.4
* For this, I need macOS Ventura 13.5 (I currently have Monterey 12.7.4)
* To create an app on my iPhone XR, IOS 18.5 is required
* The desktop version works without issues